<div class="roadmap">
    <div class="point">
      <div class="point-index">1</div>
      <div class="point-label">Support to language locales</div>
      <div class="point-text">Today we can only change the data format.</div>
    </div>
    <div class="point">
      <div class="point-index">2</div>
      <div class="point-label">Support to style customization</div>
      <div class="point-text">Today we can only change the colors of task box and group. I want to add flexibility to you change more than it.</div>
    </div>
  </div>